
/* navbar css */

.navbar{
    /* background-color: #FBF9F6; */
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 2px;
    border-bottom:2px solid #ddd;
    background-color: #222220 !important;
    height: 60px;
    padding: 0px;
}
.navbar li:hover,.navbar span:hover{
    border-bottom: solid 2px #ddd;
    margin-bottom: -9px;
    

}
 .navbar-nav li.active > a,
.navbar-nav a.active {
  color: #ddd;
  font-weight: bold;
  /* border-bottom: 2px solid #ff6600; */
  background-color: none;
}

 

@font-face {
      font-family: 'DancingScript';
      src: url('fonts/DancingScript-VariableFont_wght.ttf') format('truetype');
    }
@font-face {
  font-family: 'PlayfairDisplayItalic';
  src: url('fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  src: url('fonts/Poppins-SemiBold.ttf') format('truetype');
}


@media (max-width:768px) {
    .navbar a:hover{
    border-bottom: none ;
}
}



/* contact section */

.contact{
    padding: 80px 50px;
    background-color: #bf5353;
    color: #fff;
    text-align: center;
}
.contact p{
    margin-bottom:  70px;
}
 .submit{
     
           background-color: #d34747;
           text-align: center;
           padding:  80px 50px ;
           color: #4c4c4c;
 }

.review{
     
    background-color: #bf5353;
     color: #fff;
    text-align: center;
    padding:  80px 50px ;
    
}
.review p{
    margin-bottom:  70px;
}

.form-control, textarea {
    
    color: #4c4c4c;
    background-color: #fff;
    border: 1px solid white;
    padding: 10px;
}

form h2 {
    color: white;
    margin-bottom: 30px;
}


 

  .input-group{
    margin-bottom: 20px; 
    margin-left: 150px;
    margin-right: 150px;
    text-align: left;
    color: #222220;

}
  
 .form-control{
    border-radius: 0!important;  
   
}
 span{
    border-radius: 0!important;  
   
}
.input-group label {
    display: block;
    font-weight: bold;
    color: #fff;
    
    padding: 5px 10px;
    text-align: left; /* Align label text to the left */
    border-radius: 3px 3px 0 0;
}
.btn{
    margin-top: -12px;
    border-radius: 0;
    width: 50%; 
    font-size: 15px;
    background-color: #f08080;
}
 .btn:hover{
    background-color: #bf5353!important;
    color: #933636;
    cursor: pointer;
  
}
#msg{
  background: none;
  border: none;
   margin-left: 150px;
     margin-right: 150px;
}





